__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.tox/
.nox/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
*.log
.git
.gitignore
.env
.env.local
Dockerfile
